camel-cxf-standalone-boot/src/main/resources/wsdl/report.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://incident.cxf.camel.nileshpoc.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reports"
	targetNamespace="http://incident.cxf.camel.nileshpoc.com/">
	<wsdl:types>
		<xs:schema
			targetNamespace="http://incident.cxf.camel.nileshpoc.com/">
			<xs:element name="inputStatusIncident">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="incidentId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="statusIncidentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="status" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
		   </xs:element>
			<xs:element name="inputReportIncident">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="details" type="xs:string" />
						<xs:element name="email" type="xs:string" />
						<xs:element name="familyName" type="xs:string" />
						<xs:element name="givenName" type="xs:string" />
						<xs:element name="incidentDate" type="xs:string" />
						<xs:element name="incidentId" type="xs:string" />
						<xs:element name="phone" type="xs:string" />
						<xs:element name="summary" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="outputReportIncident">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="inputStatusIncidentRequest">
		<wsdl:part element="tns:inputStatusIncident"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="statusIncidentResponse">
		<wsdl:part element="tns:statusIncidentResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message name="inputReportIncidentRequest">
		<wsdl:part element="tns:inputReportIncident"
			name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="reportIncidentResponse">
		<wsdl:part element="tns:outputReportIncident"
			name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="IncidentServicePortType">
		<wsdl:operation name="statusIncident">
			<wsdl:input message="tns:inputStatusIncidentRequest"
				name="inputStatusIncidentRequest"></wsdl:input>
			<wsdl:output message="tns:statusIncidentResponse"
				name="statusIncidentResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reportIncident">
			<wsdl:input message="tns:inputReportIncidentRequest"
				name="inputReportIncidentRequest"></wsdl:input>
			<wsdl:output message="tns:reportIncidentResponse"
				name="reportIncidentResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IncidentServiceSoapBinding"
		type="tns:IncidentServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="statusIncident">
			<soap:operation
				soapAction="http://incident.cxf.camel.nileshpoc.com/statusIncident" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reportIncident">
			<soap:operation
				soapAction="http://incident.cxf.camel.nileshpoc.com/reportIncident" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="reportIncident">
		<wsdl:port binding="tns:IncidentServiceSoapBinding"
			name="IncidentServicePort">
			<soap:address
				location="http://localhost:8080/service/cxf/report" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
